.button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: #c2ebb9;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.button:hover {
  background-color: #5dcf84;
}
